<!-- templates/form.html -->

<form action="/print", method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="">
    </div>
    <div class="mb-3">
        <label for="uri" class="form-label">Uri</label>
        <input type="text" class="form-control" name="uri" value="">
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
