{% extends 'base.html' %}

{% block content %}
<!--<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Virtual machines</h3>
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0">State</th>
                            <th class="border-top-0">Owner</th>
                            <th class="border-top-0">IP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ubuntu2204-34</td>
                            <td>RUNNING</td>
                            <td>@admin</td>
                            <td>192.168.4.44</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>ubuntu2204-11</td>
                            <td>RUNNING</td>
                            <td>@admin</td>
                            <td>192.168.4.17</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>fedora3</td>
                            <td>RUNNING</td>
                            <td>@admin</td>
                            <td>192.168.4.64</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Servers</h3>
            <div class="table-responsive">
                <a href="/add_server">Add server</a>
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Host</th>
                            <th class="border-top-0">Username</th>
                            <th class="border-top-0">Key File</th>
                            <th class="border-top-0">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers %}
                        <tr>
                            <td><a href="/servers/{{ server['id'] }}">{{ server['id'] }}</a></td>
                            <td>{{ server['host'] }}</td>
                            <td>{{ server['username'] }}</td>
                            <td>{{ server['key_file'] }}</td>
                            <td>{{ server['created_at'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}